<div>
    <button id="opinion-button" class="bg-white font-light hover:scale-95 hover:bg-gray-200 text-black p-2 rounded-full">
        Что о вас говорят
    </button>
    <div id="opinion-block" class="hidden absolute rounded-xl bg-gray-600 p-3 mt-1 w-72 z-10 overflow-scroll max-h-[calc(100vh-20rem)] no-scrollbar">
        <p class=" text-xs text-gray-400">
            AI Powered
        </p>
        <p id="opinion-text" class="text-xs max-h-40 overflow-scroll">
            
        </p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function (){
        $('#opinion-button').on('click', function (){
            $('#opinion-block').toggle()
            
            $.ajax({
                url: '{% url "ai:make_opinion" %}',
                dataType:'json',
                type:'GET',
                success: function (response){
                    $('#opinion-text').html(response.result)
                }
            })
        })
        
       
    })
</script>